/*
* 3-4 main style
*/

@font-face {
	font-family: "NanumGothic";
	src: url("resources/NanumGothic.ttf");
}

@font-face {
	font-family: "Ubuntu";
	src: url("resources/Ubuntu-R.ttf");
}
body{
	background: #303030;
	margin: 0;
}

#navigation{
	width: 100%;
	display: inline-block;
}

#navigation ul li{
	margin: 20px;
	list-style: none;
	color: #FFFFFF;
	/*line-height:50px;*/
	vertical-align: middle;
	display:inline
}

#navigation ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#navigation .link{
	font-family: "NanumGothic";
	font-size: 15pt;
	letter-spacing: 1px;
	text-decoration:none;
	color: #FFFFFF;
	font-weight: bold;
	display: inline-block;
}

#navigation .link:hover{
	color: #0080FF
}

#header h1{
	font-family : "NanumGothic";
	font-size: 30pt;
	color: #0080FF;
	text-align: center;
}

#header p{
	font-family : "Ubuntu";
	font-size: 15pt;
	color: #707070;
	text-align: center;
}

#footer {
	background: #505050;
	text-align: center;
	-webkit-transition:  -webkit-transform 2s;
	transition: transform 2s;
}

#footer .link{
	text-decoration:none;
	color: #FFFFFF;
	font-weight: bold;
}

#footer .link:hover{
	color: #0080FF;
}

#footer a {
	font-family : "Ubuntu";
	font-size: 7pt;
	color: #FFFFFF;
}
